In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import csv
from pandas.tseries.offsets import MonthEnd
from datetime import datetime, timedelta, date
import requests
import json 
import ta
import datetime as dt
from dateutil import parser

In [89]:
#CSV OF 6 YEAR WINDOWS FROM THE START YEAR
MSFT_98 = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/1998_MSFT.csv")
MSFT_02 = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2002_MSFT.csv")
MSFT_06 = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2006_MSFT.csv")
MSFT_10 = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2010_MSFT.csv")
MSFT_14 = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2014_MSFT.csv")

AAPL_98 = pd.read_csv("/Users/fahad/project_repo/data/final/AAPL/1998_AAPL.csv")
AAPL_02 = pd.read_csv("/Users/fahad/project_repo/data/final/AAPL/2002_AAPL.csv")
AAPL_06 = pd.read_csv("/Users/fahad/project_repo/data/final/AAPL/2006_AAPL.csv")
AAPL_10 = pd.read_csv("/Users/fahad/project_repo/data/final/AAPL/2010_AAPL.csv")
AAPL_14 = pd.read_csv("/Users/fahad/project_repo/data/final/AAPL/2014_AAPL.csv")



AMZN_98 = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/1998_AMZN.csv")
AMZN_02 = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2002_AMZN.csv")
AMZN_06 = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2006_AMZN.csv")
AMZN_10 = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2010_AMZN.csv")
AMZN_14 = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2014_AMZN.csv")

In [100]:
MSFT_98[:53].tail()

          Date   Open   High    Low  Close     Volume      Date.1
48  2002-02-28  64.15  64.50  57.15  58.34  565579201  2002-02-28
49  2002-03-28  59.05  65.00  58.31  60.31  536621680  2002-03-28
50  2002-04-30  59.83  60.40  51.44  52.26  708739238  2002-04-30
51  2002-05-31  52.16  56.44  48.35  50.91  710132638  2002-05-31
52  2002-06-28  50.99  56.44  49.17  54.70  917036080  2002-06-28

In [98]:
MSFT_98[53:].head()

          Date   Open   High    Low  Close      Volume      Date.1
53  2002-07-31  54.12  54.93  41.41  47.98  1216093538  2002-07-31
54  2002-08-30  47.58  53.45  43.80  49.08   857878138  2002-08-30
55  2002-09-30  48.52  51.10  43.11  43.74   847852480  2002-09-30
56  2002-10-31  44.32  54.07  43.19  53.47  1237684817  2002-10-31
57  2002-11-29  52.43  58.64  51.90  57.68   777998180  2002-11-29

In [2]:
def train_test_split_5_years(dataframe_to_split,stock_str,stock_date_str):
    """splits a monthly dataframe of 5 years into 4 years and 1 year returns two dataframes?? Takes in a dataframe 
    object with Date,OHLCV returns two dataframes pre-split into training and test """
    
    #set containing the years within the dataframe
    set_of_years = set()
    
    for index, row in dataframe_to_split.iterrows():
        date = row.Date
        #print (date)
        
        date = pd.to_datetime(date, format="%Y-%m-%d")
        
        set_of_years.add(date.year)
        
    #print (set_of_years)
    
    #convert the set into a list
    list_of_years = list(set_of_years)
    
    max_year = max(list_of_years)
    
    #print (max_year)
    
    max_year = str(max_year)
    
    split_date = max_year + "-00-00"
    
#     print (split_date)
    
            
#     train_df = dataframe_to_split[pd.to_datetime(dataframe_to_split["Date"])< pd.to_datetime(max_year, 
#                                                                                              format="%Y-%m-%d")]
#     test_df =  dataframe_to_split[pd.to_datetime(dataframe_to_split["Date"])> pd.to_datetime(max_year,
#                                                                                              format="%Y-%m-%d")]
    train_df = dataframe_to_split[:53]
    test_df = dataframe_to_split[53:]
    
    name = "{}_{}".format(stock_date_str,stock_str)
    print (name)
    train_df.to_csv("/Users/fahad/project_repo/data/final/{}/{}_train.csv".format(stock_str ,name))
    test_df.to_csv("/Users/fahad/project_repo/data/final/{}/{}_test.csv".format(stock_str ,name))



    
    
    
#     print (train_df.head(5))
#     print (train_df.tail(5))
#     print ("\n")
#     print (test_df.head(5))
#     print (test_df.tail(5))
    
    
#     print(temp_df)

In [104]:
train_test_split_5_years(MSFT_98,'MSFT','1998')
train_test_split_5_years(MSFT_02,'MSFT','2002')
train_test_split_5_years(MSFT_06,'MSFT','2006')
train_test_split_5_years(MSFT_10,'MSFT','2010')
train_test_split_5_years(MSFT_14,'MSFT','2014')

1998_MSFT
2002_MSFT
2006_MSFT
2010_MSFT
2014_MSFT

In [105]:
train_test_split_5_years(AAPL_98,'AAPL','1998')
train_test_split_5_years(AAPL_02,'AAPL','2002')
train_test_split_5_years(AAPL_06,'AAPL','2006')
train_test_split_5_years(AAPL_10,'AAPL','2010')
train_test_split_5_years(AAPL_14,'AAPL','2014')

1998_AAPL
2002_AAPL
2006_AAPL
2010_AAPL
2014_AAPL

In [106]:
train_test_split_5_years(AMZN_98,'AMZN','1998')
train_test_split_5_years(AMZN_02,'AMZN','2002')
train_test_split_5_years(AMZN_06,'AMZN','2006')
train_test_split_5_years(AMZN_10,'AMZN','2010')
train_test_split_5_years(AMZN_14,'AMZN','2014')

1998_AMZN
2002_AMZN
2006_AMZN
2010_AMZN
2014_AMZN

In [3]:
AMZN_14 = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2014_AMZN.csv")
train_test_split_5_years(AMZN_14,'AMZN','2014')

2014_AMZN