In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import csv
from pandas.tseries.offsets import MonthEnd
from datetime import datetime, timedelta, date
import requests
import json 
import ta

In [4]:
#data with feature engineering
fields = ['Date', 'Open','High','Low','Close','Volume','RSI','MACD','Ichimoku_Span_A','Ichimoku_Span_B','ATR',
         'BB_High_Indicator','BB_Low_Indicator']
AMZN_df = pd.read_csv(r"/Users/fahad/project_repo/data/interim/AMZN.csv", usecols=fields)

In [5]:
AMZN_df.head()
AMZN_df = AMZN_df.drop(['RSI','MACD','Ichimoku_Span_A','Ichimoku_Span_B','ATR',
                        'BB_High_Indicator','BB_Low_Indicator'], axis=1)

In [6]:
# /Users/fahad/project_repo/data/final/OHLC/AMZN

In [7]:
AMZN_df.head()

         Date      Open      High       Low     Close    Volume
0  2019-07-10  0.979530  0.987498  0.991233  0.991389  0.035655
1  2019-07-09  0.955560  0.970412  0.965365  0.974817  0.040467
2  2019-07-08  0.948829  0.953776  0.957783  0.957124  0.026677
3  2019-07-05  0.946113  0.948836  0.956314  0.952497  0.024231
4  2019-07-03  0.949700  0.946728  0.958904  0.950574  0.015230

In [8]:
AMZN_98_train = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/1998_AMZN_train.csv", index_col=1)

AMZN_98_test = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/1998_AMZN_test.csv", index_col=1)

AMZN_02_train = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2002_AMZN_train.csv", index_col=1)

AMZN_02_test = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2002_AMZN_test.csv", index_col=1)

AMZN_06_train = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2006_AMZN_train.csv", index_col=1)

AMZN_06_test = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2006_AMZN_test.csv", index_col=1)

AMZN_10_train = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2010_AMZN_train.csv", index_col=1)

AMZN_10_test = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2010_AMZN_test.csv", index_col=1)

AMZN_14_train = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2014_AMZN_train.csv", index_col=1)

AMZN_14_test = pd.read_csv("/Users/fahad/project_repo/data/final/AMZN/2014_AMZN_test.csv", index_col=1)

In [9]:
#ADD LABELS TO THE TRAINING AND TEST DATAFRAMES AND RETURN DICTIONARIES WITH DATE:LABEL FORMAT
AMZN_98_train_labels = labelling(AMZN_98_train)

AMZN_98_test_labels  = labelling(AMZN_98_test)

AMZN_02_train_labels = labelling(AMZN_02_train)

AMZN_02_test_labels  = labelling(AMZN_02_test)

AMZN_06_train_labels = labelling(AMZN_06_train)

AMZN_06_test_labels  = labelling(AMZN_06_test)

AMZN_10_train_labels = labelling(AMZN_10_train)

AMZN_10_test_labels  = labelling(AMZN_10_test)

AMZN_14_train_labels = labelling(AMZN_14_train)

AMZN_14_test_labels  = labelling(AMZN_14_test)

In [10]:
#GET 30 DAY PERIODS FOR EACH MONTH AND CREATE DICTIONARY FOR 30DAYS PRIOR TO EACH DATE 
AMZN_98_train_flattened= get_ndays_monthly_flattened(AMZN_98_train,AMZN_df,30)

AMZN_98_test_flattened= get_ndays_monthly_flattened(AMZN_98_test,AMZN_df,30)

AMZN_02_train_flattened = get_ndays_monthly_flattened(AMZN_02_train,AMZN_df,30)

AMZN_02_test_flattened = get_ndays_monthly_flattened(AMZN_02_test,AMZN_df,30)

AMZN_06_train_flattened = get_ndays_monthly_flattened(AMZN_06_train,AMZN_df,30)

AMZN_06_test_flattened = get_ndays_monthly_flattened(AMZN_06_test,AMZN_df,30)

AMZN_10_train_flattened = get_ndays_monthly_flattened(AMZN_10_train,AMZN_df,30)

AMZN_10_test_flattened = get_ndays_monthly_flattened(AMZN_10_test,AMZN_df,30)

AMZN_14_train_flattened = get_ndays_monthly_flattened(AMZN_14_train,AMZN_df,30)

AMZN_14_test_flattened = get_ndays_monthly_flattened(AMZN_14_test,AMZN_df,30)

In [11]:
#assign labels to a dataframe object
AMZN_98_train_labels_df = pd.Series(AMZN_98_train_labels).to_frame("Label")

AMZN_98_test_labels_df  =  pd.Series(AMZN_98_test_labels).to_frame("Label")

AMZN_02_train_labels_df =  pd.Series(AMZN_02_train_labels).to_frame("Label")

AMZN_02_test_labels_df =  pd.Series(AMZN_02_test_labels).to_frame("Label")

AMZN_06_train_labels_df =  pd.Series(AMZN_06_train_labels).to_frame("Label")

AMZN_06_test_labels_df =  pd.Series(AMZN_06_test_labels).to_frame("Label")

AMZN_10_train_labels_df =  pd.Series(AMZN_10_train_labels).to_frame("Label")

AMZN_10_test_labels_df =  pd.Series(AMZN_10_test_labels).to_frame("Label")

AMZN_14_train_labels_df =  pd.Series(AMZN_14_train_labels).to_frame("Label")

AMZN_14_test_labels_df =  pd.Series(AMZN_14_test_labels).to_frame("Label")

In [12]:
#CREATE DATAFRAME FROM FLATTENED DICTIONARY OF ARRAYS FOR TRAINING AND TEST DATA
AMZN_98_train_flat_df = pd.DataFrame.from_dict(AMZN_98_train_flattened).T

AMZN_98_test_flat_df = pd.DataFrame.from_dict(AMZN_98_test_flattened).T

AMZN_02_train_flat_df = pd.DataFrame.from_dict(AMZN_02_train_flattened).T

AMZN_02_test_flat_df = pd.DataFrame.from_dict(AMZN_02_test_flattened).T

AMZN_06_train_flat_df = pd.DataFrame.from_dict(AMZN_06_train_flattened).T

AMZN_06_test_flat_df = pd.DataFrame.from_dict(AMZN_06_test_flattened).T

AMZN_10_train_flat_df = pd.DataFrame.from_dict(AMZN_10_train_flattened).T

AMZN_10_test_flat_df = pd.DataFrame.from_dict(AMZN_10_test_flattened).T

AMZN_14_train_flat_df = pd.DataFrame.from_dict(AMZN_14_train_flattened).T

AMZN_14_test_flat_df = pd.DataFrame.from_dict(AMZN_14_test_flattened).T

In [13]:

#JOIN THE LABEL DATAFRAME AND THE FLATTENED DATAFRAME ON THE INDEX WHICH IS THE DATE
AMZN_98_train_flat_df = AMZN_98_train_flat_df.merge(AMZN_98_train_labels_df, left_index=True, right_index=True)

AMZN_98_test_flat_df  = AMZN_98_test_flat_df.merge(AMZN_98_test_labels_df, left_index=True, right_index=True)

AMZN_02_train_flat_df = AMZN_02_train_flat_df.merge(AMZN_02_train_labels_df, left_index=True, right_index=True)

AMZN_02_test_flat_df = AMZN_02_test_flat_df.merge(AMZN_02_test_labels_df, left_index=True, right_index=True)

AMZN_06_train_flat_df = AMZN_06_train_flat_df.merge(AMZN_06_train_labels_df, left_index=True, right_index=True)

AMZN_06_test_flat_df =AMZN_06_test_flat_df.merge(AMZN_06_test_labels_df, left_index=True, right_index=True)

AMZN_10_train_flat_df =AMZN_10_train_flat_df.merge(AMZN_10_train_labels_df, left_index=True, right_index=True)

AMZN_10_test_flat_df =AMZN_10_test_flat_df.merge(AMZN_10_test_labels_df, left_index=True, right_index=True)

AMZN_14_train_flat_df =AMZN_14_train_flat_df.merge(AMZN_14_train_labels_df, left_index=True, right_index=True)

AMZN_14_test_flat_df =AMZN_14_test_flat_df.merge(AMZN_14_test_labels_df, left_index=True, right_index=True)

In [14]:
AMZN_98_train_flat_df.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,Label
1998-03-31,0.029352,0.032724,0.029759,0.032839,0.011304,0.029387,0.029544,0.028703,0.029461,0.004406,...,0.026428,0.025898,0.026294,0.003821,0.024589,0.025631,0.024902,0.025832,0.005813,1
1998-04-30,0.039351,0.039816,0.039661,0.039296,0.003411,0.038549,0.039635,0.038476,0.038863,0.005126,...,0.027221,0.027457,0.027002,0.001388,0.027911,0.027651,0.027582,0.027430,0.000912,1
1998-05-29,0.044946,0.045260,0.043896,0.044027,0.024324,0.042796,0.045686,0.041619,0.044091,0.054656,...,0.039816,0.038974,0.038372,0.008699,0.036089,0.038960,0.036732,0.039016,0.009934,0
1998-06-30,0.040026,0.039938,0.039721,0.039326,0.006539,0.036645,0.039757,0.036982,0.039665,0.017590,...,0.044585,0.044329,0.043722,0.004638,0.044395,0.045593,0.043676,0.045502,0.012001,1
1998-07-31,0.043716,0.045749,0.044454,0.045625,0.038202,0.045069,0.046077,0.043955,0.043412,0.048824,...,0.041347,0.041714,0.041509,0.001750,0.041379,0.041347,0.040468,0.040368,0.004304,1

In [15]:

#export dataframes which are now ready to be used by the model 
AMZN_list_of_names = ['AMZN_98_train_flat_df_OHLC', 'AMZN_98_test_flat_df_OHLC', 'AMZN_02_train_flat_df_OHLC', 'AMZN_02_test_flat_df_OHLC'
                     ,'AMZN_06_train_flat_df_OHLC','AMZN_06_test_flat_df_OHLC','AMZN_10_train_flat_df_OHLC','AMZN_10_test_flat_df_OHLC',
                     'AMZN_14_train_flat_df_OHLC','AMZN_14_test_flat_df_OHLC']

AMZN_list = [AMZN_98_train_flat_df, AMZN_98_test_flat_df, AMZN_02_train_flat_df, AMZN_02_test_flat_df,
            AMZN_06_train_flat_df, AMZN_06_test_flat_df, AMZN_10_train_flat_df, AMZN_10_test_flat_df,
            AMZN_14_train_flat_df, AMZN_14_test_flat_df]

for i in range(len(AMZN_list)):
    
    str_name = AMZN_list_of_names[i]
    
    export_AMZN = AMZN_list[i].to_csv("/Users/fahad/project_repo/data/final/OHLC/AMZN/{}.csv".format(str_name))

In [2]:
def labelling(dataframe):
    """This generates labels for the dataframes we wish to predict price.
    A label of 1 suggests an increase in price between months while a label of 0 indicates
    a decrease in price. If the current price is greater than the previous price then a"""
    empty_dict = dict()
    prev_close =0
    counter = 0
    for index,cols in dataframe.iterrows():
        counter +=1
        current_close = cols['Close']
        if float(prev_close) <= float(current_close):
            #signals an increase in price between last month and next month
            empty_dict[index] = 1
        elif float(prev_close) >= float(current_close):
            empty_dict[index]=0

        #reassign prev close to the current close     
        prev_close = current_close
    
    return empty_dict

In [3]:
def get_ndays_monthly_flattened(dataframe_period_end,dataframe_subperiod,n):
    """returns a dictionary which contains key value pair of the month-end date as key and
    value is the proceeding n days. Returns it as a dictionary of dataframes.
    dataframe period end refers to the dataframe which will act as the period end i.e monthly end date
    sub_period dataframe refers to the dataframe with the preceeding n days, i.e daily"""
    empty_dict = dict()
    count = 0
    for end in dataframe_period_end.index:
#         print ("month end/:%s" % end)
        
        month_key = dataframe_period_end.index[count+1]
        
#         print ("month key:%s" % month_key)
        
        last_index = dataframe_period_end.index[-1]
        
#         print ("last index:%s " % last_index)
        
        if (month_key != last_index):
            temp_df = dataframe_subperiod.loc[dataframe_subperiod['Date']<end].head(n)
#             print ("\n")
#             print (temp_df.head(5))
            temp_df = temp_df.drop(['Date'], axis=1)
            
            empty_dict[month_key]= temp_df.values.flatten()
            count +=1
        else:
            pass
       
    return empty_dict