In [3]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import csv
from pandas.tseries.offsets import MonthEnd
from datetime import datetime, timedelta, date
import requests
import json 
import ta

In [4]:
#data with feature engineering
fields = ['Date', 'Open','High','Low','Close','Volume','RSI','MACD','Ichimoku_Span_A','Ichimoku_Span_B','ATR',
         'BB_High_Indicator','BB_Low_Indicator']
MSFT_df = pd.read_csv(r"/Users/fahad/project_repo/data/interim/MSFT.csv", usecols=fields)

In [5]:
MSFT_df.head()
MSFT_df = MSFT_df.drop(['RSI','MACD','Ichimoku_Span_A','Ichimoku_Span_B','ATR',
                        'BB_High_Indicator','BB_Low_Indicator'], axis=1)

In [6]:
#/Users/fahad/project_repo/data/final/Tech/MSFT

In [7]:
MSFT_df.head()

         Date      Open      High       Low     Close    Volume
0  2019-07-10  0.744656  0.746298  0.759324  0.742976  0.016024
1  2019-07-09  0.737755  0.736526  0.751678  0.736149  0.027496
2  2019-07-08  0.740198  0.737315  0.749006  0.739183  0.022672
3  2019-07-05  0.737389  0.738711  0.751181  0.739790  0.024988
4  2019-07-03  0.742641  0.741199  0.754755  0.742217  0.017310

In [8]:
MSFT_98_train = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/1998_MSFT_train.csv", index_col=1)

MSFT_98_test = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/1998_MSFT_test.csv", index_col=1)

MSFT_02_train = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2002_MSFT_train.csv", index_col=1)

MSFT_02_test = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2002_MSFT_test.csv", index_col=1)

MSFT_06_train = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2006_MSFT_train.csv", index_col=1)

MSFT_06_test = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2006_MSFT_test.csv", index_col=1)

MSFT_10_train = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2010_MSFT_train.csv", index_col=1)

MSFT_10_test = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2010_MSFT_test.csv", index_col=1)

MSFT_14_train = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2014_MSFT_train.csv", index_col=1)

MSFT_14_test = pd.read_csv("/Users/fahad/project_repo/data/final/MSFT/2014_MSFT_test.csv", index_col=1)

In [9]:
#ADD LABELS TO THE TRAINING AND TEST DATAFRAMES AND RETURN DICTIONARIES WITH DATE:LABEL FORMAT
MSFT_98_train_labels = labelling(MSFT_98_train)

MSFT_98_test_labels  = labelling(MSFT_98_test)

MSFT_02_train_labels = labelling(MSFT_02_train)

MSFT_02_test_labels  = labelling(MSFT_02_test)

MSFT_06_train_labels = labelling(MSFT_06_train)

MSFT_06_test_labels  = labelling(MSFT_06_test)

MSFT_10_train_labels = labelling(MSFT_10_train)

MSFT_10_test_labels  = labelling(MSFT_10_test)

MSFT_14_train_labels = labelling(MSFT_14_train)

MSFT_14_test_labels  = labelling(MSFT_14_test)

In [10]:
#GET 30 DAY PERIODS FOR EACH MONTH AND CREATE DICTIONARY FOR 30DAYS PRIOR TO EACH DATE 
MSFT_98_train_flattened= get_ndays_monthly_flattened(MSFT_98_train,MSFT_df,30)

MSFT_98_test_flattened= get_ndays_monthly_flattened(MSFT_98_test,MSFT_df,30)

MSFT_02_train_flattened = get_ndays_monthly_flattened(MSFT_02_train,MSFT_df,30)

MSFT_02_test_flattened = get_ndays_monthly_flattened(MSFT_02_test,MSFT_df,30)

MSFT_06_train_flattened = get_ndays_monthly_flattened(MSFT_06_train,MSFT_df,30)

MSFT_06_test_flattened = get_ndays_monthly_flattened(MSFT_06_test,MSFT_df,30)

MSFT_10_train_flattened = get_ndays_monthly_flattened(MSFT_10_train,MSFT_df,30)

MSFT_10_test_flattened = get_ndays_monthly_flattened(MSFT_10_test,MSFT_df,30)

MSFT_14_train_flattened = get_ndays_monthly_flattened(MSFT_14_train,MSFT_df,30)

MSFT_14_test_flattened = get_ndays_monthly_flattened(MSFT_14_test,MSFT_df,30)

In [11]:
#assign labels to a dataframe object
MSFT_98_train_labels_df = pd.Series(MSFT_98_train_labels).to_frame("Label")

MSFT_98_test_labels_df  =  pd.Series(MSFT_98_test_labels).to_frame("Label")

MSFT_02_train_labels_df =  pd.Series(MSFT_02_train_labels).to_frame("Label")

MSFT_02_test_labels_df =  pd.Series(MSFT_02_test_labels).to_frame("Label")

MSFT_06_train_labels_df =  pd.Series(MSFT_06_train_labels).to_frame("Label")

MSFT_06_test_labels_df =  pd.Series(MSFT_06_test_labels).to_frame("Label")

MSFT_10_train_labels_df =  pd.Series(MSFT_10_train_labels).to_frame("Label")

MSFT_10_test_labels_df =  pd.Series(MSFT_10_test_labels).to_frame("Label")

MSFT_14_train_labels_df =  pd.Series(MSFT_14_train_labels).to_frame("Label")

MSFT_14_test_labels_df =  pd.Series(MSFT_14_test_labels).to_frame("Label")

In [12]:
#CREATE DATAFRAME FROM FLATTENED DICTIONARY OF ARRAYS FOR TRAINING AND TEST DATA
MSFT_98_train_flat_df = pd.DataFrame.from_dict(MSFT_98_train_flattened).T

MSFT_98_test_flat_df = pd.DataFrame.from_dict(MSFT_98_test_flattened).T

MSFT_02_train_flat_df = pd.DataFrame.from_dict(MSFT_02_train_flattened).T

MSFT_02_test_flat_df = pd.DataFrame.from_dict(MSFT_02_test_flattened).T

MSFT_06_train_flat_df = pd.DataFrame.from_dict(MSFT_06_train_flattened).T

MSFT_06_test_flat_df = pd.DataFrame.from_dict(MSFT_06_test_flattened).T

MSFT_10_train_flat_df = pd.DataFrame.from_dict(MSFT_10_train_flattened).T

MSFT_10_test_flat_df = pd.DataFrame.from_dict(MSFT_10_test_flattened).T

MSFT_14_train_flat_df = pd.DataFrame.from_dict(MSFT_14_train_flattened).T

MSFT_14_test_flat_df = pd.DataFrame.from_dict(MSFT_14_test_flattened).T

In [13]:

#JOIN THE LABEL DATAFRAME AND THE FLATTENED DATAFRAME ON THE INDEX WHICH IS THE DATE
MSFT_98_train_flat_df = MSFT_98_train_flat_df.merge(MSFT_98_train_labels_df, left_index=True, right_index=True)

MSFT_98_test_flat_df  = MSFT_98_test_flat_df.merge(MSFT_98_test_labels_df, left_index=True, right_index=True)

MSFT_02_train_flat_df = MSFT_02_train_flat_df.merge(MSFT_02_train_labels_df, left_index=True, right_index=True)

MSFT_02_test_flat_df = MSFT_02_test_flat_df.merge(MSFT_02_test_labels_df, left_index=True, right_index=True)

MSFT_06_train_flat_df = MSFT_06_train_flat_df.merge(MSFT_06_train_labels_df, left_index=True, right_index=True)

MSFT_06_test_flat_df =MSFT_06_test_flat_df.merge(MSFT_06_test_labels_df, left_index=True, right_index=True)

MSFT_10_train_flat_df =MSFT_10_train_flat_df.merge(MSFT_10_train_labels_df, left_index=True, right_index=True)

MSFT_10_test_flat_df =MSFT_10_test_flat_df.merge(MSFT_10_test_labels_df, left_index=True, right_index=True)

MSFT_14_train_flat_df =MSFT_14_train_flat_df.merge(MSFT_14_train_labels_df, left_index=True, right_index=True)

MSFT_14_test_flat_df =MSFT_14_test_flat_df.merge(MSFT_14_test_labels_df, left_index=True, right_index=True)

In [14]:
MSFT_98_train_flat_df.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,Label
1998-03-31,0.429339,0.425285,0.432434,0.426907,0.020233,0.416758,0.421097,0.423856,0.423509,0.034510,...,0.712430,0.714881,0.710965,0.004884,0.714120,0.709395,0.710965,0.703805,0.005767,1
1998-04-30,0.444974,0.443069,0.449092,0.441714,0.005799,0.452974,0.447621,0.451827,0.440925,0.010676,...,0.852027,0.863252,0.846411,0.010412,0.875168,0.867201,0.864060,0.844894,0.012340,1
1998-05-29,0.457188,0.460549,0.464632,0.457249,0.015414,0.469769,0.465101,0.460903,0.453426,0.018225,...,0.404771,0.412606,0.405668,0.007006,0.396116,0.401736,0.404028,0.404151,0.008533,0
1998-06-30,0.430866,0.429412,0.436288,0.431822,0.007196,0.413277,0.427895,0.422675,0.429941,0.019036,...,0.465101,0.468921,0.467079,0.010028,0.459081,0.463948,0.468175,0.464470,0.011004,1
1998-07-31,0.551484,0.558813,0.561785,0.560046,0.022155,0.531636,0.540180,0.541584,0.541841,0.017805,...,0.432872,0.439396,0.432975,0.016339,0.423232,0.430202,0.432807,0.430305,0.028320,1

In [15]:

#export dataframes which are now ready to be used by the model 
MSFT_list_of_names = ['MSFT_98_train_flat_df_OHLC', 'MSFT_98_test_flat_df_OHLC', 'MSFT_02_train_flat_df_OHLC', 'MSFT_02_test_flat_df_OHLC'
                     ,'MSFT_06_train_flat_df_OHLC','MSFT_06_test_flat_df_OHLC','MSFT_10_train_flat_df_OHLC','MSFT_10_test_flat_df_OHLC',
                     'MSFT_14_train_flat_df_OHLC','MSFT_14_test_flat_df_OHLC']

MSFT_list = [MSFT_98_train_flat_df, MSFT_98_test_flat_df, MSFT_02_train_flat_df, MSFT_02_test_flat_df,
            MSFT_06_train_flat_df, MSFT_06_test_flat_df, MSFT_10_train_flat_df, MSFT_10_test_flat_df,
            MSFT_14_train_flat_df, MSFT_14_test_flat_df]

for i in range(len(MSFT_list)):
    
    str_name = MSFT_list_of_names[i]
    
    export_MSFT = MSFT_list[i].to_csv("/Users/fahad/project_repo/data/final/OHLC/MSFT/{}.csv".format(str_name))

In [1]:
def labelling(dataframe):
    """This generates labels for the dataframes we wish to predict price.
    A label of 1 suggests an increase in price between months while a label of 0 indicates
    a decrease in price. If the current price is greater than the previous price then a"""
    empty_dict = dict()
    prev_close =0
    counter = 0
    for index,cols in dataframe.iterrows():
        counter +=1
        current_close = cols['Close']
        if float(prev_close) <= float(current_close):
            #signals an increase in price between last month and next month
            empty_dict[index] = 1
        elif float(prev_close) >= float(current_close):
            empty_dict[index]=0

        #reassign prev close to the current close     
        prev_close = current_close
    
    return empty_dict

In [2]:
def get_ndays_monthly_flattened(dataframe_period_end,dataframe_subperiod,n):
    """returns a dictionary which contains key value pair of the month-end date as key and
    value is the proceeding n days. Returns it as a dictionary of dataframes.
    dataframe period end refers to the dataframe which will act as the period end i.e monthly end date
    sub_period dataframe refers to the dataframe with the preceeding n days, i.e daily"""
    empty_dict = dict()
    count = 0
    for end in dataframe_period_end.index:
#         print ("month end/:%s" % end)
        
        month_key = dataframe_period_end.index[count+1]
        
#         print ("month key:%s" % month_key)
        
        last_index = dataframe_period_end.index[-1]
        
#         print ("last index:%s " % last_index)
        
        if (month_key != last_index):
            temp_df = dataframe_subperiod.loc[dataframe_subperiod['Date']<end].head(n)
#             print ("\n")
#             print (temp_df.head(5))
            temp_df = temp_df.drop(['Date'], axis=1)
            
            empty_dict[month_key]= temp_df.values.flatten()
            count +=1
        else:
            pass
       
    return empty_dict